name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      - next

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: install latest corepack
        run: npm install corepack@latest -g

      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm build

      - name: Build demo
        run: pnpm build:dev

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/demo/dist # Adjust if your build output directory is different
          publish_branch: gh-pages # Specify the branch to deploy to
